<head>
    <title><%- title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/@fontawesome/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href="/air-datepicker/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
</head>