<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <%- include ./layers/head -%>
    <link rel="stylesheet" href="/styles/main.css">
    <body>
        <%- include ./layers/header -%>

        <div class="container-fluid mt-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">WMS Lite</h6>
                </div>
                <div class="card-body">
                    <div class="front-img" style="background: url('/images/warehouse_with_text.jpg') no-repeat;">
                    </div>
                </div>
            </div>
        </div>

        <script src="/bootstrap/dist/js/bootstrap.min.js"></script> 
        <script src="/air-datepicker/dist/js/datepicker.min.js"></script>
    </body>
</html>