.filter {
    justify-content: space-between;
}

.filter>div>div>label,
.filter>div>div>input,
.filter>div>div>select {
    margin-top: 15px;
    margin-right: 15px;
    text-align: center;
}

.filter>div>div>label {
    font-weight: bold;
}

.filter>div>div>select {
    height: 26px;
}

.filter>div>div>input,
.filter>div>div>select {
    border-radius: 5px;
}

.filter>div>div>input {
    border: 1px solid #d1d3e2;
}

/* ===================================== */

.modal-body {
    text-align: center;
    font-size: 35px;
}

.h2 {
    border-bottom: 3px solid #000;
}

.order-list {
    border-bottom: 3px solid #000;
}

.add-good label {
    text-align: left;
}

.invalid-feedback {
    font-size: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#countRows option {
    text-align: center;
}

@media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        max-width: 1000px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto;
    }
} 