<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сборочный лист</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/shipments_log.css">
    <style>
        .order-list-to-new-window {
            padding: 50px;
        }
        .status {
            display: none!important;
        }
        #print-order-list {
            display: none!important;
        }
    </style>
</head>

<body>

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        window.onload = function () {
            const content = window.opener.document.querySelector('.order-list-to-new-window');
            document.body.appendChild(content.cloneNode(true));
        };  
        window.print();
    </script>
</body>

</html>