<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <%- include ../layers/head -%>
    <link rel="stylesheet" href="/styles/shipments_log.css">
    <body>
        <%- include ../layers/header -%>

        <div class="container-fluid mt-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Журнал сборок на отгрузку</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row filter pr-3 pl-3 pb-3">
                                <div class="row mr-3">
                                    <div>
                                        <label>СТРОК</label>
                                        <select name="" id="">
                                            <option value="5">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label>С</label><input type="text" class="datepicker-here" id="startDate">
                                    </div>
                                    <div>
                                        <label>ПО</label><input type="text" class="datepicker-here" id="finishDate">
                                    </div>
                                    <div>
                                        <label>ОТКУДА</label><input type="text" id="from">
                                    </div>
                                    <div>
                                        <label>КУДА</label><input type="text" id="to">
                                    </div>
                                </div>

                                <div class="row p-0 mt-1">
                                    <div>
                                        <button id="btnSearch" type="button" class="btn btn-primary mt-2">
                                            Поиск по дате
                                        </button>
                                        <!-- Button trigger modal -->
                                        <button id="btnSelected" type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#exampleModalCenter">
                                            Выбранное добавить
                                        </button>
                                        <!-- Button trigger modal -->

                                        <button id="btnShippingList" type="button" class="btn btn-primary mt-2">
                                            Отгрузочный лист
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenterTitle">Код машины
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div id="code_car" class="modal-body"></div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                                        <button id="btnCreate" type="button" class="btn btn-primary">Создать, Загрузить и Заблокировать машину</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable mainDataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" style="width: 59px;">Дата</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 68px;">Склад</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 50px;">Грузополучатель</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 31px;">№ Сборки</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 68px;">Статус</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 67px;">Мест</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 67px;">Вес, кг.</th>
                                                <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 67px;">Опции</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal window from the rows of the click event -->
        <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="card-body">
                        <div class="table-responsive order-list-to-new-window">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="shipment_title"></div>

                                <div class="row pt-3">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered dataTable" id="shipmentDataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 20px;">№</th>
                                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" style="width: 59px;">Код товара</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 68px;">Категория</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 50px;">Номенклатура</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 31px;">Место хранения</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 68px;">Склад</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 67px;">Количество</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 67px;">Остаток</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row order-list p-2 d-flex justify-content-end">
                                    <button id="print-order-list" type="button" class="btn btn-primary ignorePDF">Печать</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal window from the rows of the click event -->

        <script src="/bootstrap/dist/js/bootstrap.min.js"></script> 
        <script src="/air-datepicker/dist/js/datepicker.min.js"></script>
        <script src="/scripts/shipments_log.js"></script>
    </body>
</html>