<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <%- include ../layers/head -%>
    <link rel="stylesheet" href="/styles/warehouses.css">
    <body>
        <%- include ../layers/header -%>

        <div class="container-fluid mt-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Склады</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row filter pr-3 pl-3 pb-3">
                                <div class="row mr-3">
                                    <div>
                                        <label>СТРОК</label>
                                        <select name="" id="countRows">
                                            <option selected disabled value="-">-</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label>Поиск</label><input id="inputSearch" type="text">
                                    </div>
                                </div>

                                <div class="row p-0 mt-2">
                                    <div>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalAdd">
                                            Добавить склад
                                        </button>

                                        <!-- Modal window of Add button -->
                                        <div class="modal fade" id="exampleModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <!-- Modal header -->
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenterTitle">Добавление
                                                            склада
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <!-- Modal header -->
                                                    <!-- Modal body -->
                                                    <div class="modal-body add-good">
                                                        <form name="warehouseAddForm">
                                                            <div class="form-group row">
                                                                <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Код :</label>
                                                                <div class="col-sm-9">
                                                                    <input type="number" class="form-control form-control-lg" id="warehouseId" autocomplete="off">
                                                                    <div class="invalid-feedback">
                                                                        Такой код уже используется!
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Адрес :</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control form-control-lg" id="warehouseAddress" autocomplete="off">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Телефон :</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control form-control-lg" id="warehousePhone" autocomplete="off" placeholder="Пример: (044) 7-888-073">
                                                                    <div class="invalid-feedback">
                                                                        Введите точно по шаблону! Пример: (044) 7-888-073
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                                        <button id="btnSave" type="button" class="btn btn-primary">Сохранить</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal window of Add button -->

                                        <!-- Modal window of Edit button -->
                                        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <!-- Modal header -->
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenterTitle">Редактирование
                                                            склада
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <!-- Modal header -->
                                                    <!-- Modal body -->
                                                    <div class="modal-body add-good">
                                                        <form>
                                                            <div class="form-group row">
                                                                <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Код :</label>
                                                                <div class="col-sm-9">
                                                                    <input type="number" class="form-control form-control-lg" id="EditWarehouseId" autocomplete="off" disabled>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Адрес :</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control form-control-lg" id="EditWarehouseAddress" autocomplete="off">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Телефон :</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control form-control-lg" id="EditWarehousePhone" autocomplete="off" placeholder="Пример: (044) 7-888-073">
                                                                    <div class="invalid-feedback">
                                                                        Введите точно по шаблону! Пример: (044) 7-888-073
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- Modal body -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                                        <button id="btnEdit" type="button" class="btn btn-primary">Сохранить</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal window of Edit button -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable" id="warehouseDataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 20px;">№</th>
                                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" style="width: 59px;">Код</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 68px;">Адрес</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 68px;">Телефон</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 68px;">Опции</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/bootstrap/dist/js/bootstrap.min.js"></script> 
        <script src="/air-datepicker/dist/js/datepicker.min.js"></script>
        <script src="/scripts/warehouses.js"></script>
    </body>
</html>